/*
Theme Name: Frogbox
Theme URI: http://www.frogbox.com
Author: Steve Foldi
Author URI: http://friendswithwebsites.com/
Description: Frogbox custom theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: frogbox theme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

html {
	height: 100%;
 	font-size: 100%;
}

body {
	height: 100%;
	padding-top: 88px;
	padding-bottom: 20px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 200px;
}
@media (max-width:768px) {
	body {
		padding-top: 40px;
	}
}
h1 {
	font-size: 3.75em;
	font-weight: 700;
	line-height: 1.4em;
	/*line-height: 2.67em;*/
	color: #8CC640;
	margin-top: 1.2em;
	margin-bottom: 0.9em;
}
h2 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2em;
	color: #8CC640;
}
h3 {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.33em;
	color: #8CC640;
}
h4 {
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	color: #8CC640;
}

h5 {
	font-size: 0.67em;
	font-weight: 400;
	line-height: 0.67em;
	color: #6D6E70;
}
h6 {
	font-size: 0.75em;
	font-weight: 400;
	line-height: 0.67em;
	color: #939597;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

img {
    max-width: 100%;
    height:auto;
}

.container {
	padding-left: 0;
	padding-right: 0;
}
.container-inside {
	// padding-left: 40px;
	// padding-right:  40px;
}
.container-inside-text {
	max-width: 1280px;
	// padding-left: 80px;
	// padding-right: 40px;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
@media (max-width:767px) {
	.container {
		padding-left: 6px;
		padding-right: 6px;
	}
}

.admin-bar .navbar-fixed-top {
	margin-top: 30px;
}

@media (min-width:768px) {
	.sub-menu {
		display: none;
		position: absolute;
		background: #222;
		padding: 10px 15px;
		width: 200px;
	}

	li:hover .sub-menu {
		display: block;
	}

}
@media (max-width: 480px) {
	.col-ts-12 {
		float: none;
		width:100%;
		padding: 	0;
	}
}

.sub-menu li {
	margin-bottom: 10px;
	list-style: none;
}

.sub-menu li:last-child {
	margin-bottom: 0;
}

.sub-menu a  {
	color: #999;
	text-decoration: none;
}

.sub-menu a:hover  {
	color: #fff;
}

.current-menu-item > a, .current-menu-parent > a {
	background: #000;
}
.current-menu-parent li a {
	background: inherit;
}
.current-menu-parent .current-menu-item a {
	color: #fff;
	font-weight: bold;
}

.sidebar {
	color: #444;
	border:1px solid #8CC640;
	border-radius: 6px;
	max-width: 282px;
}
sidebar-mobile {
	// max-width: 312px;
}
@media (max-width: 768px) {
	.page-template-page-pricing .sidebar-mobile {
		width: 108%;
		max-width: auto;
		position: fixed;
		left: 0;
		bottom: 0;
		height: 50px;
		background-color: #262626;
		margin-top: 0;
		border: 0;
		border-radius: 0;
		padding: 0;
		color: #939598;
	}
	.page-template-page-pricing .sidebar {
		border: 0;
		border-radius: 0;
	}
}
.sidebar-mobile #order-summary {
	padding: 0 20px 30px;
}
.sidebar-mobile #order-summary .inside-order {
	max-width: 240px;
	// max-width: 240px;
}
@media(max-width: 768px) {
	.sidebar-mobile #order-summary {
		padding: 0 0 30px;
	}
	.sidebar-mobile #order-summary .inside-order {
		padding: 40px 15px 15px;
	}
}

.sidebar-mobile.reveal-is-open {
	height: 50%;
	overflow: auto;
}
/*.sidebar h3 {
	color: #888;
}*/
@media (max-width: 768px) {
	#mobile-summary {
		position: fixed;
		display: block;
		background-color: #262626;
		padding: 15px 30px;
		width:100%;
	}
	#mobile-summary #mobile-price-label {
		color: #8CC640;
		margin-right: 20px;
	}
	#mobile-summary #mobile-order-price {
		color: #B4B5B5;
	}
}

.widget {
	margin: 10px 0 30px;
}

.textwidget {
	  padding: 0 18px;
}

article.post {
	margin: 20px 0 40px;
}

.featured-image img,
.portfolio-piece img,
.portfolio-image img {
	max-width: 100%;
}

.prev-next {
	font-size: 24px;
	margin-top: 30px;
	text-align: right;
}

@media (max-width:540px) {
	.portfolio-piece h4 {
		font-size: .8em;
	}
	.prev-next {
		margin-top: 15px;
		font-size: 18px;
	}
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
			 -moz-transition: all .25s ease-out;
						transition: all .25s ease-out;
	}

	.row-offcanvas-right {
		right: 0;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}

/*=== additions ===*/

/*@media (min-width: 1300px) {
		.container {
			width: 1280px;
		}
}*/

.navbar {
	min-height: inherit;
	margin-bottom: 0;
	border-bottom: 1px solid #E6E7E8;
}

.navbar-inverse {
	background-color:#fff;
	height:88px;
}

.navbar-brand {
	margin-left: 0 !important;
	padding: 18px 0 0 15px;
	line-height: inherit;
	height: inherit;
}

@media (max-width: 767px) {
	.navbar-inverse {
		background-color:#fff;
		height:40px;
	}
	.navbar-brand {
		padding: 5px 0 5px;
		  width: 100%;
	}
}

.nav-contact {
	padding: 12px 0 11px;
	text-align: right;
	font-size: 15px;
	color: #939597;
}
.nav-contact img {
	vertical-align: top;
	padding-left: 6px;
}

.navbar-inverse .navbar-collapse {
	padding-right: 40px;
	border-color:  transparent;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-collapse {
		padding: 0;
		background-color: #262626;
	}
}

.navbar-nav {
	margin: 0;
}

@media (max-width: 767px) {
	.navbar-nav li {
		padding-left: 42%;
	  	border-bottom: 1px solid #1a1a1a;
	}
}

.current-menu-item > a,
.current-menu-parent > a {
	background-color: #fff;
	color: #00A5C7 !important;
	border-bottom: 1px solid #00A5C7;
}
@media(max-width: 767px) {
	.current-menu-item > a,
	.current-menu-parent > a {
		background-color: transparent;
		color: #00A5C7 !important;
		border-bottom: 0;
	}
}

.navbar-inverse .navbar-nav > li > a {
	padding: 10px;
	font-size: 15px;
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-nav > li > a {
		padding: 12px;
		color: #00A5C7;
	}
	.navbar-inverse .navbar-nav > li > a:after {
		font-family: FontAwesome;
		content: "\f105";
		display: inline-block;
		font-size: 1.4em;
		border: 1px solid #00A5C7;
		border-radius: 24px;
		padding: 2px 11px 4px;
		margin-left: 14px;
		vertical-align: middle;
	}
}
.navbar-inverse .navbar-nav > li:hover,
.navbar-inverse .navbar-nav > li:focus {
	border-bottom: 1px solid #00A5C7;
	color: #00A5C7;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #00A5C7;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-toggle {
		position: absolute;
		float: none;
		padding: 4px 10px;
	}
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #00A5C7;
}
.navbar-inverse .navbar-toggle:hover >  .icon-bar {
	background-color: #8CC640;
}

.navbar-brand img.large {
	display: block;
}
.navbar-brand img.small {
	display: none;
}
@media (max-width: 767px) {
	.navbar-brand img.large {
		display: none;
	}
	.navbar-brand img.small {
		display: block;
		height:30px;
		margin:0 auto;
	}
}

.jumbotron {
	padding: 0;
	background-color: #fff;
}

.jumbotron {
	background: url("/wp-content/uploads/2015/06/bg-4098-AtSizeWithCover.jpg") no-repeat;
	background-position: 100% 25%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	background-color:rgba(0, 0, 0, 0.5);
}
.jumbotron .container {
	height: 100%;
}
.jumbotron .title-section {
	position:relative;
	max-width:900px;
	margin: 0 auto;
	z-index: 2;
	height: 70%;
}
.jumbotron .title-home-section {
	position: absolute;
	left: 0;
	bottom: 0;
	width:100%;
}

.jumbotron h1 {
	color:#fff;
	margin:0;
	text-align: center;
	font-size: 42px;
}
.jumbotron h3 {
	color:#fff;
	text-align: center;
}
@media(max-width: 1500px) {
	.jumbotron {
		background: url("/wp-content/uploads/2015/06/bg-4098-AtSizeWithCover.jpg") no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media(max-width: 960px) {
	.jumbotron .title-section {
		height:62vh;
	}
}
@media(max-width: 768px) {
	.jumbotron {
		height:78%;
		background-position: 40% center;
	}
	.jumbotron .title-section {
		height:52vh;
	}
	.jumbotron h1 {
		font-size: 32px;
	}
	.jumbotron h3 {
		font-size: 26px;
	}
}
@media(max-width: 680px) {
	.jumbotron {
		height:58%;
	}
	.jumbotron .title-section {
		height:40vh;
	}
	.jumbotron h1 {
		font-size: 30px;
	}
	.jumbotron h3 {
		font-size: 22px;
	}
}
@media(max-width: 536px) {
	.jumbotron h1 {
		font-size: 24px;
	}
	.jumbotron h3 {
		font-size: 18px;
	}
}
@media(max-width: 500px) {
	.jumbotron {
		height:60%;
	}
	.jumbotron .title-section {
		height:42vh;
	}
}
@media(max-width: 320px) {
	.jumbotron {
		height:50%;
	}
	.jumbotron .title-section {
		height:34vh;
	}
}


footer {
	text-align: center;
}

footer ul {
	list-style: none;
	padding: 0;
}
footer ul li {
	display: inline-block;
	padding: 0 10px;
	margin:20px 0;
}

.page-header {
	border-bottom: 0;
	margin: 0;
	padding-bottom: 0;
}
.page-header h1 {
	margin:20px 0;
}
@media (max-width:768px) {
	.page-header h1 {
		margin: 0;
		font-size: 2.75em;
	}
}

/*=== button stuff ===*/
.btn {
	border-radius: 6px;
}

.btn-default {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	// padding: 1.45em 6em;
	padding: 1.2em 10%;
	margin-bottom: 8px;
	width: 100%;
}
.btn-default:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-default:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-default:hover {
	/*font-weight: 700;*/
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	/*padding: 1.7em 5.84em;*/
}

.btn-default:active,
.btn-default:focus {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	box-shadow: none;
}
/*= didn't make the cut =*/
/*.fb-fa-cust {
	font-size: 2em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 10px;
	vertical-align: middle;
}
.btn-default:hover > .fb-fa-cust {
	background-color: #fff;
	color: #00A5C7;
}*/
/*= didn't make the cut =*/

.btn-default,
.btn-default:hover,
.btn-default:focus {
	width: 100%;
	height: auto;
	background-color: #00A5C7;
	border-color: #00A5C7;
	// padding: 1.45em 6em;
	padding: 1.2em 10%;
	margin-bottom: 8px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #fff;
}
.btn-default:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-default:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-info {
	width: 100%;
	background: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}
.btn-info:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #00A5C7;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-info:hover,
.btn-info:focus {
	border: 1px solid #00A5C7;
	background: #fff;
	color: #00A5C7;
}
.btn-info:hover:after,
.btn-info:focus:after {
	border: 1px solid #00A5C7;
	background-color: #00A5C7;
	color: #fff;
}

.btn-info-previous {
	width: 100%;
	background: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}
.btn-info-previous:hover,
.btn-info-previous:focus {
	border: 1px solid #00A5C7;
	background: #fff;
	color: #00A5C7;
}
.btn-info-previous:before {
	font-family: FontAwesome;
	content: "\f104";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #00A5C7;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-right: 14px;
	vertical-align: middle;
}
.btn-info-previous:hover:before,
.btn-info-previous:focus:before {
	border: 1px solid #00A5C7;
	background-color: #00A5C7;
	color: #fff;
}


.bg-success {
	background-color: #8CC640;
	padding: 22px !important;
	color: #fff;
	border-radius: 6px;
}

/*=== custom home button===*/

.btn-home {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 0.85em 9% 0.85em 6%;
	width: 100%;
	font-size: 20px;
}
.btn-home:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 24px;
	padding: 2px 18px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-home:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-home:hover {
	/*font-weight: 700;*/
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	/*padding: 1.7em 5.84em;*/
}

.btn-home:active,
.btn-home:focus {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	box-shadow: none;
}

.btn-home-container {
	margin:20px auto;
	width:350px;
}
@media(max-width: 680px) {
	.btn-home {
		padding: 0.65em 9% 0.65em 6%;
	}
	.btn-home-container {
		width:300px;
	}
}
@media(max-width: 536px) {
	.btn-home-container {
		width:280px;
	}
}
@media(max-width: 390px) {
	// .btn-home-container {
	// 	width:96%;
	// }
}

/*=== forms ===*/
label {
	display: block;
	margin: 5px;
}
input, select, textarea {
	width: 100%;
	  padding: 16px;
	border-radius: 6px;
	border: 1px solid #C6C8CA;
}

select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 50px;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    font-size: 16px;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}
.select-wrapper:after {
  content: '\f0d7';
  font-family: FontAwesome;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2px;
  pointer-events: none;
  width: 50px;
  /* padding-top: 10px; */
  height: auto;
  text-align: center;
  background-color: #06a5c8;
  padding: 15px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.select-wrapper:hover:after {
	background-color: #8CC640;
}
.select-wrapper select {
	margin: 2px 0;
	border: 1px solid #111;
	background: transparent;
	width: 100%;
	padding: 14px 35px 14px 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;*/
}

.box-qty select {
	padding-left: 15px;
	width: 98px;
}
.box-qty:after {
	left: 48px;
}

/*=== VFP Pro classes ===*/
.vfb-col-1, .vfb-col-2, .vfb-col-3, .vfb-col-4, .vfb-col-5, .vfb-col-6, .vfb-col-7, .vfb-col-8, .vfb-col-9, .vfb-col-10, .vfb-col-11, .vfb-col-12 {
	padding-left: 0;
}

.vfbp-form .vfb-form-control {
	width: 100%;
	height: auto;
	padding: 15px;
	border-radius: 6px;
	border: 1px solid #C6C8CA;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.vfbp-form .btn-primary,
 .vfbp-form .btn-primary:hover,
 .vfbp-form .btn-primary:focus {
	width: 100%;
	height: auto;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 1.45em 6em;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #fff;
}
.vfbp-form .btn-primary:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.vfbp-form .btn-primary:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.vfbp-form .vfb-fieldType-select .vfb-form-group {
	position: relative;
}
.vfbp-form .vfb-fieldType-select .vfb-form-group:after {
  content: '\f0d7';
  font-family: FontAwesome;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  width: 50px;
  height: auto;
  text-align: center;
  background-color: #06a5c8;
  padding: 15px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.vfbp-form .vfb-fieldType-select .vfb-form-group:hover:after {
	background-color: #8CC640;
}

.vfbp-form .vfb-fieldType-select .vfb-form-group select {
	margin: 2px 0;
	border: 1px solid #111;
	background: transparent;
	width: 100%;
	padding: 14px 35px 14px 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.serving-location h3 {
	margin-top: 0;
}

/*====================================*/
/*====== PRICING AND ORDER PAGE ======*/
/*====================================*/


/*=== buttons ===*/
.btn-next,
.btn-next:hover,
.btn-next:focus {
	/*width: 100%;*/
	height: auto;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 1.45em 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #fff;
}
.btn-next:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-next:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-previous {
	width: 100%;
	background: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
	padding: 1.2em 10%;
	margin-bottom: 8px;
}
.btn-previous:before {
	font-family: FontAwesome;
	content: "\f104";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #00A5C7;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-right: 14px;
	vertical-align: middle;
}
.btn-previous:hover,
.btn-previous:focus {
	border: 1px solid #00A5C7;
	background: #fff;
	color: #00A5C7;
}
.btn-previous:hover:before,
.btn-previous:focus:before {
	border: 1px solid #00A5C7;
	background-color: #00A5C7;
	color: #fff;
}


.location {
	margin-bottom: 20px;
}

.step-heading h2 {
	border-radius: 6px;
	border: 1px solid #8CC640;
	padding: 5px 10px;
	background-color: #8CC640;
	font-size: 1.6em;
	color: #FFF;
}
@media(max-width: 500px) {
	.step-heading h2 {
		font-size: 1.6em;
	}
}
input[type="submit"].step-next,
input[type="button"].step-next {
	width: auto;
	/*float: right;*/
	padding: 0;
	background-color: #00A5C7;
	border-color: #00A5C7;
}
span.step-previous {
	width: 40%;
	float: left;
}

#step-1-heading h2 {
	margin-top: 0;
}
.ui-accordion .ui-state-active h2 {
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid #8CC640;
	background-color: transparent;
	color: #8CC640;
}
#step-3-heading .ui-state-active > .sidebar-box-info {
	display: none;
}

.product .inner-border {
	position: relative;
	border-radius: 6px;
	border: 1px solid #00A5C7;
	margin: 20px 0;
	color: #00A5C7;
	padding: 30px 10px;
}
#packing-supplies-wrapper .product .inner-border {
	position: relative;
	border-radius: 6px;
	border: 1px solid #d9dadc;
	margin: 20px 0;
	color: #00A5C7;
	padding: 30px 10px;
}
#packing-supplies-wrapper .product .inner-border:before,
#packing-supplies-wrapper .product .inner-border:after {
	clear: both;
	content: " ";
  	display: table;
}
#packing-supplies-wrapper .product .inner-border .col1 {
	float: left;
	width:20%;
}

#packing-supplies-wrapper .product .inner-border .col2 {
	float: left;
	width: 45%;
	padding: 0 10px;
}
#packing-supplies-wrapper .product .inner-border .col2 h3 {
	margin-top: 10px;
}
#packing-supplies-wrapper .product .inner-border .col2 p {
	color: #333;
}

#packing-supplies-wrapper .product .inner-border .col3 {
	float: left;
	width: 15%;
	padding: 0 10px;
}

#packing-supplies-wrapper .product .inner-border .col4 {
	float: left;
	width: 15%;
	padding: 0 10px;
}
#packing-supplies-wrapper .product .inner-border .col4 label {
	padding: 0;
}
#packing-supplies-wrapper .product .inner-border h5 {
	font-size: 16px;
	color: #b4b5b4;
}
@media(max-width:880px) {
	#packing-supplies-wrapper .product .inner-border .col2 {
		width: 42%;
	}
}
@media(max-width:650px) {
	#packing-supplies-wrapper .product .inner-border .col1 {
		width:30%;
	}

	#packing-supplies-wrapper .product .inner-border .col2 {
		width: 70%;
	}
	#packing-supplies-wrapper .product .inner-border .col3 {
		clear: both;
		width: 50%;
		text-align: right;
	}

	#packing-supplies-wrapper .product .inner-border .col4 {
		width: 50%;
	}
}

#packing-supplies-wrapper .group {
	position: relative;
	border-radius: 6px;
	border: 1px solid #d9dadc;
	margin: 20px 0;
	color: #00A5C7;
	padding: 30px 10px;
}
#packing-supplies-wrapper .group h3.step2-label{
	display: none;
}
#packing-supplies-wrapper .group .col0 {
	float: left;
	width:20%;
}
#packing-supplies-wrapper .group .col1 {
	float: left;
	width: 75%;
	padding: 0 10px;
}
#packing-supplies-wrapper .group .product .inner-border {
	clear: left;
	position: relative;
	border-radius: 0;
	border: 0;
	color: #00A5C7;
	padding: 30px 10px;
}
#packing-supplies-wrapper .group-bubble-wrap {}

#bundles-list .inner-border {
	border-radius: 6px;
	border: 1px solid #00A5C7;
	margin: 0 0 10px;
	color: #00A5C7;
}
#bundles-list .inner-border.active {
	border-radius: 6px;
	border: 2px solid #8CC640;
	margin: 0 0 10px;
	color: #8CC640;
}

#bundles-products-wrapper .inner-border {
	border-radius: 6px;
	border: 1px solid #00A5C7;
	margin: 0 0 10px;
	color: #00A5C7;
}
#bundles-products-wrapper .inner-border.active {
	border-radius: 6px;
	border: 2px solid #8CC640;
	margin: 0 0 10px;
	color: #8CC640;
}


.inner-border input[type="radio"] {
	float: right;
	width: 15px;
	margin: -19px 4px -19px;
	top: 24px;
	right: 0;
	position: absolute;
}
.inner-border input[type="radio"] {
	float: right;
	width: 15px;
	margin: -19px 4px -19px;
	top: 24px;
	right: 0;
	position: absolute;
}

.inner-border label {
	position: relative;
	clear: right;
	margin: 0;
	padding: 56px 10px;
	font-size: 16px;
	/*color: #00A5C7;*/
	font-weight: normal;

}

#bundles-list .inner-border input[type="radio"]:checked + #bundles-list > .inner-border {
	border: 1px solid #8CC640;
	color: #8CC640;
}

#step-2-content input[type="radio"] {
	width: 15px;
	position: absolute;
	top: 24px;
	right: 0;
}

#bundles-list  .bundle-cust input[type="radio"]#bundle-custom {
	position: relative;
	float: left;
	width: 18px;
	margin: 0;
	top: 15px;
	left: 10px;
}

#bundles-list .bundle-cust label {
	float: left;
	color: #00A5C7;
	margin: 10px 0;
}

#bundles-products-wrapper .group .product {
	float: left;
	width: 25%;
	padding: 0;
}
@media(max-width: 768px) {
	#bundles-products-wrapper .group .product {
		width:50%;
	}
}
@media(max-width: 480px) {
	#bundles-products-wrapper .group .product {
		width:100%;
	}
}

#bundles-products-wrapper .group .product label {
	font-weight: 400;
	padding: 10px 10px 0;
	font-size:20px;
}
#bundles-products-wrapper .group .product .col2 .product-detail {
	margin-bottom:20px;
}
#bundles-products-wrapper .group .product .col2 .product-detail p {
	color: #b4b5b4;
}

#bundles-products-wrapper .group .product .col3 {

}
#bundles-products-wrapper .group .product .col3 h5 {
	font-size: 16px;
	color: #b4b5b4;

}
#bundles-products-wrapper .group .product .col3 .product-price {
	font-size:20px;
	font-weight: 700;
	color: #b4b5b4;
}

#step-2-footnote {
	display: inline-block;
	margin: 0 0 20px;
	font-size: 14px;
}

#packing-supplies-wrapper .group .option-reveal {
	float: left;
	width: 24%;
	margin-top: 2%;
}


.sidebar-pricing {
	// position: fixed;
}

#your-price-price .order-subtotal {}

#your-price-price .order-subtotal .pricing-description,
#your-price-price .order-discount .pricing-description,
#your-price-price .order-tax .pricing-description,
#your-price-price .order-total .pricing-description {
	display: inline-block;
	padding: 3px 0;

}
#your-price-price .order-subtotal .pricing-price,
#your-price-price .order-discount .pricing-price,
#your-price-price .order-tax .pricing-price {
	display: inline-block;
	padding: 5px 0 5px 10px;
	font-size: 22px;
	font-weight: 600;
	color: #b4b5b4;
}
#your-price-price .order-total .pricing-price {
	display: inline-block;
	padding: 5px 0 5px 10px;
	font-size: 22px;
	font-weight: 600;
	color: #333;
}
@media(max-width: 768px) {
	#your-price-price .order-subtotal .pricing-price,
	#your-price-price .order-discount .pricing-price,
	#your-price-price .order-tax .pricing-price {
		color: #939598;
	}
	#your-price-price .order-total .pricing-price {
		color: #FFF;
	}
}

// #order-summary #summary-spacer {
// 	margin: 16px 0 0;
// 	border-bottom: 1px solid #8CC640;
// }

#your-order {
	margin: 16px 0 0;
	border-top: 1px solid #8CC640;
}
#your-order #your-price-products .product {}

#your-order #your-price-products .product .product-name {
	display: inline-block;
	padding: 3px 0;
}
#your-order #your-price-products .product .product-quantity {
	display: inline-block;
	padding: 5px 0 5px 10px;
	font-size: 22px;
	font-weight: 600;
	color: #333;
}
@media(max-width: 768px) {
	#your-order {
		margin: 16px 0 0;
		border-top: 0;
	}
	#your-order #your-price-products .product .product-quantity {
		color: #ccc;
	}
}

#order-complete #order-number {
	font-weight: 600;
}
#order-complete #order-summary #your-order {
	border-top: 0;
}

#order-summary .order-subtotal .pricing-price,
#order-summary .order-discount .pricing-price,
#order-summary .order-tax .pricing-price {
	display: inline-block;
	padding: 5px 0 0 10px;
	font-size: 22px;
	font-weight: 600;
	color: #b4b5b4;
}

#order-summary .order-total .pricing-price {
	display: inline-block;
	padding: 5px 0 0 10px;
	font-size: 22px;
	font-weight: 600;
	color: #333;
}

#order-summary #your-order {
	margin: 14px 0 0;
}
#order-summary #your-order h3 {
	margin-top: 14px;
}
#order-summary #your-order #your-order-extra {
	border-top: 1px solid #8CC640;
    margin: 14px 0 0;
}

#order-summary #your-price-price .bundle-details {
	padding: 0 0 20px;
	font-size: 20px;
	font-weight: 600;
	color: #333;
}

#order-summary #your-price-price .bundle-details ul {
	font-size: 16px;
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}

#order-summary #delivery-details .appointment-value,
#order-summary #delivery-details .address-value,
#order-summary #pickup-details .appointment-value,
#order-summary #pickup-details .address-value {
	display: inline-block;
	padding: 0 0 5px 10px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
	vertical-align: text-top;
}


#order-summary #delivery-details

/* From: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

.mobile-map {
	display: none;
}
@media(max-width: 768px) {
	.mobile-map {
		display: block;
		margin:0 20px 4em;
	}
}

/*=== image map ===*/
.location-map {
    position: relative;
    margin: 0 32px 0 0;
}
@media(max-width: 768px) {
	.location-map {
		display: none;
	}
}

.location-map {
    position: relative;
}

.location-map img {
    width: 100%;
}

.location-map a {
    position: absolute;
    width: 2.4%;
    height: 6.2%;
}

.location-map span {
    position: absolute;
    top: 102%;
    left: 50%;
    width: 100px;

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;

    border: 2px solid #000;
    padding: 2px 5px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-left: -50px;
    text-align: center;
    background: #FFF;
    border-radius: 4px;
}

.location-map a:hover span {
    opacity: 1;
}