/*
Theme Name: Frogbox
Theme URI: http://www.frogbox.com
Author: Steve Foldi
Author URI: http://friendswithwebsites.com/
Description: Frogbox custom theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: frogbox theme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
html {
	height: 100%;
 	font-size: 100%;
}

body {
	height: 100%;
	padding-top: 88px;
	padding-bottom: 20px;
	font-style: normal;
	font-weight: 400;
}
@media (max-width:768px) {
	body {
		padding-top: 40px;
	}
}
h1 {
	font-size: 3em;
	font-weight: 700;
	line-height: 1.4em;
	/*line-height: 2.67em;*/
	color: #8CC640;
	margin-top: 1.2em;
	margin-bottom: 0.9em;
}
h2 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.5em;
	color: #8CC640;
}
h3 {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.33em;
	color: #8CC640;
}
h4 {
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	color: #8CC640;
}

h5 {
	font-size: 0.67em;
	font-weight: 400;
	line-height: 0.67em;
	color: #6D6E70;
}
h6 {
	font-size: 0.75em;
	font-weight: 400;
	line-height: 0.67em;
	color: #939597;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

img {
    max-width: 100%;
    height:auto;
}

.container {
	padding-left: 0;
	padding-right: 0;
}
.container-inside {
	padding-left: 40px;
	padding-right:  40px;
}
.container-inside-text {
	padding-left: 80px;
	padding-right: 40px;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
@media (max-width:767px) {
	.container {
		padding-left: 6px;
		padding-right: 6px;
	}
}

.admin-bar .navbar-fixed-top {
	margin-top: 30px;
}

@media (min-width:768px) {
	.sub-menu {
		display: none;
		position: absolute;
		background: #222;
		padding: 10px 15px;
		width: 200px;
	}

	li:hover .sub-menu {
		display: block;
	}

}

.sub-menu li {
	margin-bottom: 10px;
	list-style: none;
}

.sub-menu li:last-child {
	margin-bottom: 0;
}

.sub-menu a  {
	color: #999;
	text-decoration: none;
}

.sub-menu a:hover  {
	color: #fff;
}

.current-menu-item > a, .current-menu-parent > a {
	background: #000;
}
.current-menu-parent li a {
	background: inherit;
}
.current-menu-parent .current-menu-item a {
	color: #fff;
	font-weight: bold;
}

.sidebar {
	margin-top: 200px;
	color: #444;
	border:1px solid #8CC640;
	border-radius: 6px;
}
@media (max-width:935px) {
	.sidebar {
		position: fixed;
		bottom: 0;
		height: 10%;
		background-color: #fff;
		overflow: scroll;
		margin-top:20px;
	}
}

/*.sidebar h3 {
	color: #888;
}*/

.widget {
	margin: 10px 0 30px;
}

.textwidget {
	  padding: 0 20px;
}

article.post {
	margin: 20px 0 40px;
}

.featured-image img,
.portfolio-piece img,
.portfolio-image img {
	max-width: 100%;
}

.prev-next {
	font-size: 24px;
	margin-top: 30px;
	text-align: right;
}

@media (max-width:540px) {
	.portfolio-piece h4 {
		font-size: .8em;
	}
	.prev-next {
		margin-top: 15px;
		font-size: 18px;
	}
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
			 -moz-transition: all .25s ease-out;
						transition: all .25s ease-out;
	}

	.row-offcanvas-right {
		right: 0;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}

/*=== additions ===*/

/*@media (min-width: 1300px) {
		.container {
			width: 1280px;
		}
}*/

.navbar {
	min-height: inherit;
	margin-bottom: 0;
	border-bottom: 1px solid #E6E7E8;
}

.navbar-inverse {
	background-color:#fff;
	height:88px;
}

.navbar-brand {
	margin-left: 0 !important;
	padding: 18px 0 0 79px;
	line-height: inherit;
	height: inherit;
}

@media (max-width: 767px) {
	.navbar-inverse {
		background-color:#fff;
		height:40px;
	}
	.navbar-brand {
		padding: 5px 0 5px 79px;
		  width: 100%;
	}
}

.nav-contact {
	padding: 12px 0 11px;
	text-align: right;
	font-size: 15px;
	color: #939597;
}
.nav-contact img {
	vertical-align: top;
	padding-left: 6px;
}

.navbar-inverse .navbar-collapse {
	padding-right: 40px;
	border-color:  transparent;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-collapse {
		padding: 0;
		background-color: #262626;
	}
}

.navbar-nav {
	margin: 0;
}

@media (max-width: 767px) {
	.navbar-nav li {
		padding-left: 42%;
	  	border-bottom: 1px solid #1a1a1a;
	}
}

.current-menu-item > a,
.current-menu-parent > a {
	background-color: #fff;
	color: #00A5C7 !important;
	border-bottom: 1px solid #00A5C7;
}
@media(max-width: 767px) {
	.current-menu-item > a,
	.current-menu-parent > a {
		background-color: transparent;
		color: #00A5C7 !important;
		border-bottom: 0;
	}
}

.navbar-inverse .navbar-nav > li > a {
	padding: 10px;
	font-size: 15px;
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-nav > li > a {
		padding: 12px;
		color: #00A5C7;
	}
	.navbar-inverse .navbar-nav > li > a:after {
		font-family: FontAwesome;
		content: "\f105";
		display: inline-block;
		font-size: 1.4em;
		border: 1px solid #00A5C7;
		border-radius: 24px;
		padding: 2px 11px 4px;
		margin-left: 14px;
		vertical-align: middle;
	}
}
.navbar-inverse .navbar-nav > li:hover,
.navbar-inverse .navbar-nav > li:focus {
	border-bottom: 1px solid #00A5C7;
	color: #00A5C7;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #00A5C7;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-toggle {
		position: absolute;
		float: none;
		padding: 4px 10px;
	}
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #00A5C7;
}
.navbar-inverse .navbar-toggle:hover >  .icon-bar {
	background-color: #8CC640;
}

.navbar-brand img.large {
	display: block;
}
.navbar-brand img.small {
	display: none;
}
@media (max-width: 767px) {
	.navbar-brand img.large {
		display: none;
	}
	.navbar-brand img.small {
		display: block;
		height:30px;
		margin:0 auto;
	}
}

.jumbotron {
	padding: 0;
	background-color: #fff;
}

footer {
	text-align: center;
}

footer ul {
	list-style: none;
	padding: 0;
}
footer ul li {
	display: inline-block;
	padding: 0 10px;
	margin:20px 0;
}

.page-header {
	border-bottom: 0;
	margin: 22px 0;
	padding-bottom: 0;
}
@media (max-width:768px) {
	.page-header h1 {
		margin: 0;
		font-size: 2.75em;
	}
}

/*=== button stuff ===*/
.btn {
	border-radius: 6px;
}

.btn-default {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 1.45em 6em;
	width: 100%;
}
.btn-default:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-default:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-default:hover {
	/*font-weight: 700;*/
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	/*padding: 1.7em 5.84em;*/
}

.btn-default:active,
.btn-default:focus {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	box-shadow: none;
}
/*= didn't make the cut =*/
/*.fb-fa-cust {
	font-size: 2em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 10px;
	vertical-align: middle;
}
.btn-default:hover > .fb-fa-cust {
	background-color: #fff;
	color: #00A5C7;
}*/
/*= didn't make the cut =*/

.btn-default,
.btn-default:hover,
.btn-default:focus {
	width: 100%;
	height: auto;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 1.45em 6em;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #fff;
}
.btn-default:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-default:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-info {
	width: 100%;
	background: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}
.btn-info:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #00A5C7;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-info:hover,
.btn-info:focus {
	border: 1px solid #00A5C7;
	background: #fff;
	color: #00A5C7;
}
.btn-info:hover:after,
.btn-info:focus:after {
	border: 1px solid #00A5C7;
	background-color: #00A5C7;
	color: #fff;
}

.bg-success {
	background-color: #8CC640;
	padding: 22px !important;
	color: #fff;
	border-radius: 6px;
}

/*=== custom home button===*/

.btn-home {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 0.85em 6em 0.85em 5em;
	width: 100%;
	font-size: 20px;
}
.btn-home:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 24px;
	padding: 2px 18px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-home:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-home:hover {
	/*font-weight: 700;*/
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	/*padding: 1.7em 5.84em;*/
}

.btn-home:active,
.btn-home:focus {
	color: #fff;
	background-color: #00A5C7;
	border-color: #00A5C7;
	box-shadow: none;
}

/*=== forms ===*/
label {
	display: block;
	margin: 5px;
}
input, select, textarea {
	width: 100%;
	  padding: 16px;
	border-radius: 6px;
	border: 1px solid #C6C8CA;
}

select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 50px;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    font-size: 16px;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}
.select-wrapper:after {
  content: '\f0d7';
  font-family: FontAwesome;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2px;
  pointer-events: none;
  width: 50px;
  /* padding-top: 10px; */
  height: auto;
  text-align: center;
  background-color: #06a5c8;
  padding: 15px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.select-wrapper:hover:after {
	background-color: #8CC640;
}
.select-wrapper select {
	margin: 2px 0;
	border: 1px solid #111;
	background: transparent;
	width: 100%;
	padding: 14px 35px 14px 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;*/
}

/*=== VFP Pro classes ===*/
.vfb-col-1, .vfb-col-2, .vfb-col-3, .vfb-col-4, .vfb-col-5, .vfb-col-6, .vfb-col-7, .vfb-col-8, .vfb-col-9, .vfb-col-10, .vfb-col-11, .vfb-col-12 {
	padding-left: 0;
}

.vfbp-form .vfb-form-control {
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 6px;
	border: 1px solid #C6C8CA;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.vfbp-form .btn-primary,
 .vfbp-form .btn-primary:hover,
 .vfbp-form .btn-primary:focus {
	width: 100%;
	height: auto;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 1.45em 6em;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #fff;
}
.vfbp-form .btn-primary:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.vfbp-form .btn-primary:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

/*.vfbp-form .vfb-form-group {
	position: relative;
}
.vfbp-form .vfb-form-group:after {
  content: '\f0d7';
  font-family: FontAwesome;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2px;
  pointer-events: none;
  width: 50px;
  height: auto;
  text-align: center;
  background-color: #06a5c8;
  padding: 15px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.vfbp-form .vfb-form-group:hover:after {
	background-color: #8CC640;
}

.vfbp-form .vfb-form-group select {
	margin: 2px 0;
	border: 1px solid #111;
	background: transparent;
	width: 100%;
	padding: 14px 35px 14px 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}*/

/*====================================*/
/*====== PRICING AND ORDER PAGE ======*/
/*====================================*/


/*=== buttons ===*/
.btn-next,
.btn-next:hover,
.btn-next:focus {
	/*width: 100%;*/
	height: auto;
	background-color: #00A5C7;
	border-color: #00A5C7;
	padding: 1.45em 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #fff;
}
.btn-next:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-left: 14px;
	vertical-align: middle;
}
.btn-next:hover:after {
	background-color: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
}

.btn-previous {
	width: 100%;
	background: #fff;
	border: 1px solid #fff;
	color: #00A5C7;
	padding: 1.45em;
}
.btn-previous:before {
	font-family: FontAwesome;
	content: "\f104";
	display: inline-block;
	font-size: 1.4em;
	border: 1px solid #00A5C7;
	border-radius: 20px;
	padding: 2px 14px 4px;
	margin-right: 14px;
	vertical-align: middle;
}
.btn-previous:hover,
.btn-previous:focus {
	border: 1px solid #00A5C7;
	background: #fff;
	color: #00A5C7;
}
.btn-previous:hover:before,
.btn-previous:focus:before {
	border: 1px solid #00A5C7;
	background-color: #00A5C7;
	color: #fff;
}


.location {
	margin-bottom: 20px;
}

.step-heading h2 {
	border-radius: 6px;
	border: 1px solid #8CC640;
	padding: 8px 10px;
	background-color: #8CC640;
	color: #FFF;
}
@media(max-width: 500px) {
	.step-heading h2 {
		font-size: 1.6em;
	}
}
input[type="submit"].step-next,
input[type="button"].step-next {
	width: auto;
	/*float: right;*/
	padding: 0;
	background-color: #00A5C7;
	border-color: #00A5C7;
}
span.step-previous {
	width: 40%;
	float: left;
}

.product .inner-border {
	position: relative;
	border-radius: 6px;
	border: 1px solid #00A5C7;
	margin: 20px 0;
	color: #00A5C7;
}

#bundles-list .inner-border {
	border-radius: 6px;
	border: 1px solid #00A5C7;
	margin: 0 0 10px;
	color: #00A5C7;
}

#bundles-list .inner-border input[type="radio"] {
	float: right;
	width: 15px;
	margin: -19px 4px -19px;
	top: 24px;
	right: 0;
	position: absolute;
}

#bundles-list .inner-border label {
	position: relative;
	clear: right;
	margin: 0;
	padding: 56px 10px;
	font-size: 16px;
	/*color: #00A5C7;*/
	font-weight: normal;

}

#bundles-list .inner-border input[type="radio"]:checked + #bundles-list > .inner-border {
	border: 1px solid #8CC640;
	color: #8CC640;
}

#bundles-list .bundle-cust input[type="radio"] {
	float: left;
	width: 18px;
	margin: 7px 0 0;
}

#bundles-list .bundle-cust label {
	float: left;
}

#frogbox-form input[type="radio"] {
	width: 5%;
	position: absolute;
	top: 0;
	right: 0;
}

/* From: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

body.page-id-2257 .page-header h1 {
display: none;
}

/* pricing chart */
/*.nav-tabs>li {
	width: 25%;
	text-align: center;
	padding: 0 0.1%;
}
@media (max-width: 599px) {
	.nav-tabs>li {
		width: 100%;
		text-align: center;
		padding: 0;
		margin:0.2% 0;
	}
}
.nav-tabs>li>a {
	width:100%;
	margin-right: 2px;
	line-height: 1.42857143;
	border: 2px solid #2ea4c5;
	background: #2ea4c5;
	border-radius: 0;
	color: #fff;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background-color: #fff;
	border: 2px solid #2ea4c5;
	border-bottom-color: #2ea4c5;
	cursor: default;
	color: #2ea4c5;
}
.nav-tabs>li>a:hover {
	border-color: #2ea4c5;
	background-color: #fff;
	color: #2ea4c5;
}
.hide-mobile {
	display: block;
}
.hide-desktop {
	display: none;
}
@media (max-width: 599px) {
	.hide-mobile {
		display: none;
	}
	.hide-desktop {
		display: block;
	}
}*/